<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/comentario.css">
</head>

<body>
    <h1>
        <%= producto.nombre %>
    </h1>






    <h3>Agregar comentario</h3>
    <div class="form">
        <form action="/agregarComentario" method="GET">
            <input type="hidden" name="id" value="<%= producto.id %>">
            <label class="coment" for="">Comentario</label>
            <input type="text" name="comentario">

            <br>


            <button>Agregar comentario</button>
            <br>
            <a href="/" class="atras">Atras</a>
        </form>
        <br>
    </div>


</body>

</html>