body {
    background-color: #ffdd90;
}

h1 {
    margin-top: 100px;
    text-align: center;
    text-shadow: 10px 10px 4px black;
}

.form {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 300px;
    margin-left: 520px;
    margin-top: 100px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.form button {
    margin-top: 10px;
    margin-left: 140px;
}

.atras {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    background-color: white;
}

p {
    margin-left: 70px;
    padding-top: 10px;
    color: white;
    text-decoration-line: underline;
}

h3 {
    margin-left: 99px;
    color: white;
}

.url {
    margin-left: 40px;
    color: white;
}

.aggre {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 300px;
    margin-left: 520px;
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.button {
    margin-top: 10px;
    margin-left: 198px;
    border-radius: 10px;
}

.button2 {
    margin-top: 10px;
    margin-left: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.atras {
    background-color: seashell;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    margin-left: 227px;
    border: 2px solid white;
}

.aggre input[type="text"] {
    border-radius: 10px;
}

.aggre input[type="text"]:focus {
    border-bottom: 2px solid #0075d9;
}

.button,
.button2,
.atras {
    border-radius: 10px;
    cursor: pointer;
}

.button:hover,
.button2:hover,
.atras:hover {
    background: rgba(0, 117, 217, 0.7);
}