        body {
            background-color: #ffdd90;
        }
        
        h1 {
            text-align: center;
            text-shadow: 10px 10px 4px black;
        }
        
        .lista_de_productos {
            margin-left: 570px;
            font-size: 30px;
            text-shadow: 10px 10px 4px black;
        }
        
        ul {
            margin-left: 500px;
            margin-top: 50px;
            border-top-right-radius: 20px;
            width: 100%;
            max-width: 800px;
            list-style: none;
        }
        
        ul li p {
            font-size: 20px;
            margin-bottom: 20px;
            margin-left: 160px;
            color: cornsilk;
        }
        
        .cada_uno {
            background: rgba(0, 0, 0, 0.7);
            border-radius: 10px;
            margin-left: -120px;
            box-shadow: 10px 10px 10px black;
            width: 100%;
            max-width: 500px;
            padding-bottom: 10px;
        }
        
        .ref {
            padding-left: 20px;
            padding-top: 0px;
        }
        
        .coment {
            margin-left: 15px;
            text-decoration: none;
            color: white;
        }
        
        .ver {
            margin-left: -10px;
            text-decoration: none;
            color: white;
        }
        
        .borrar {
            margin-left: 15px;
            text-decoration: none;
            color: white;
        }
        
        .editar {
            margin-left: 15px;
            text-decoration: none;
            color: white;
        }